@charset "utf8";

/*Esse é nossa linha de comentario para código CSS*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
aqui podemos comentar também o código, porém usamos
um bloco de comentarios.
*/